# **Week 05 - Dask Programming Assignment**

Name: Satya Sudha 
Course Number: HDS-5230-07 
Assignment Number: Week 05 Assignment

In [ ]:
import dask.array as da
import pandas as pd
import dask.dataframe as dd
import numpy as np
import time
import requests

## Test

In [ ]:
# make a 3 dimensional matrix of ones with size 1000*1000*1000
start_time = time.time()

images = da.ones((1000,1000,1000))

end_time = time.time()
exe_time= end_time - start_time
exe_time
images

dask.array<ones_like, shape=(1000, 1000, 1000), dtype=float64, chunksize=(255, 255, 255), chunktype=numpy.ndarray>

# 1.

In [ ]:
# URL
url = "http://coronadatascraper.com/timeseries.csv.zip"
zip_filename = "timeseries.csv.zip"

# Download the file
response = requests.get(url)
with open(zip_filename, "wb") as file:
    file.write(response.content)

Download the zip from the link.

# 2.

In [ ]:
# path
csv_path = "timeseries.csv"

dtypes = { "cases": "float64", "deaths": "float64", "recovered": "float64", "county": "object",
    "state": "string", "aggregate": "object",
    "city": "object",
    "population": "float64"
} # To Avoid ValueError
df = dd.read_csv(csv_path, dtype= dtypes, parse_dates=["date"], low_memory = False)

df.head()

,locationID,slug,name,level,city,county,state,country,lat,long,...,deaths,recovered,active,tested,hospitalized,hospitalized_current,discharged,icu,icu_current,date
0,iso1:ad,ad,Andorra,country,<NA>,<NA>,<NA>,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-22
1,iso1:ad,ad,Andorra,country,<NA>,<NA>,<NA>,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-23
2,iso1:ad,ad,Andorra,country,<NA>,<NA>,<NA>,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-24
3,iso1:ad,ad,Andorra,country,<NA>,<NA>,<NA>,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-25
4,iso1:ad,ad,Andorra,country,<NA>,<NA>,<NA>,Andorra,42.55,1.58,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-26

In [ ]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 24 entries, locationID to date
dtypes: datetime64[ns](1), float64(13), string(10)

In [103]:
# https://stackoverflow.com/questions/50355598/how-should-i-get-the-shape-of-a-dask-dataframe
a = df.shape
a[0].compute(),a[1]

(1089472, 24)

Unzipping and loading using dask is done by giving data types and to prevent memory issues when reading we set low memory to False

# 3.1

In [ ]:
# Filter by'country'(USA)
df_states = df[(df["country"] == "United States") & (df["state"].notnull())]
df_states.head()

,locationID,slug,name,level,city,county,state,country,lat,long,...,deaths,recovered,active,tested,hospitalized,hospitalized_current,discharged,icu,icu_current,date
240069,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-23
240070,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-24
240071,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-25
240072,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-26
240073,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-27

Filtering the rows of the Dask DataFrame (df) to include only those rows where the state column is not empty and the nation column has the value "United States"

# 3.2

In [ ]:
df_2 = df_states[(df_states["date"] >= "2020-01-01") & (df_states["date"] <= "2021-02-28")]
df_2.head()

,locationID,slug,name,level,city,county,state,country,lat,long,...,deaths,recovered,active,tested,hospitalized,hospitalized_current,discharged,icu,icu_current,date
240069,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-23
240070,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-24
240071,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-25
240072,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-26
240073,iso1:us#iso2:us-ak,alaska-us,"Alaska, United States",state,<NA>,<NA>,Alaska,United States,64.24,-152.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-27

Further filters the dataset to include only data within the time period January 1, 2020, to February 28, 2021.

In [ ]:
morrs = df_2.groupby("state").agg(
    {"deaths": "sum", "population": "mean"}
).compute()
morrs["per_capita_mortality"] = (
    morrs["deaths"] / morrs["population"]
)

# Rank states
morrs['rank'] = morrs['per_capita_mortality'].rank(ascending=False)

print(morrs.sort_values(by='rank'))

                                 deaths    population  per_capita_mortality  \
state
New York                      9781636.0  6.175734e+05             15.838824
Texas                         2077857.0  2.274187e+05              9.136704
Michigan                      2107456.0  2.377823e+05              8.862964
Louisiana                     1217102.0  1.430398e+05              8.508834
Georgia                       1230519.0  1.550214e+05              7.937739
Illinois                      2238987.0  2.879959e+05              7.774370
Mississippi                    504736.0  7.171443e+04              7.038137
New Jersey                    4609656.0  8.074718e+05              5.708752
Pennsylvania                  2145790.0  3.765291e+05              5.698869
Virginia                       653717.0  1.273958e+05              5.131386
Ohio                          1029731.0  2.626764e+05              3.920150
Minnesota                      470852.0  1.281735e+05              3.673553
Iowa                           264347.0  7.384984e+04              3.579520
Florida                       2161963.0  6.316981e+05              3.422462
Kentucky                       237486.0  7.384583e+04              3.215970
Colorado                       546938.0  1.771919e+05              3.086699
Alabama                        438471.0  1.442113e+05              3.040476
Missouri                       320423.0  1.056162e+05              3.033844
North Carolina                 595936.0  2.076848e+05              2.869425
Massachusetts                 2617844.0  1.039983e+06              2.517199
Tennessee                      344557.0  1.422745e+05              2.421777
Nebraska                        95850.0  4.115762e+04              2.328852
South Carolina                 496231.0  2.190942e+05              2.264921
Maryland                      1024777.0  4.836544e+05              2.118821
Kansas                         114847.0  5.496819e+04              2.089336
California                    2783684.0  1.339739e+06              2.077781
Indiana                        283501.0  1.447789e+05              1.958165
Oklahoma                       184060.0  1.014608e+05              1.814100
Wisconsin                      285001.0  1.595187e+05              1.786630
Connecticut                   1383249.0  7.922860e+05              1.745896
Arkansas                       158952.0  9.616907e+04              1.652839
New Mexico                     182077.0  1.233429e+05              1.476186
South Dakota                    37973.0  2.640773e+04              1.437950
Washington                     518376.0  3.814883e+05              1.358826
North Dakota                    34648.0  3.283063e+04              1.055356
Arizona                        939211.0  9.098396e+05              1.032282
Idaho                           66368.0  7.942511e+04              0.835605
Nevada                         270529.0  3.422396e+05              0.790467
West Virginia                   47447.0  6.400525e+04              0.741299
Montana                         20877.0  3.750098e+04              0.556705
Rhode Island                   178646.0  3.531203e+05              0.505907
New Hampshire                  112790.0  2.476136e+05              0.455508
Oregon                         100177.0  2.279858e+05              0.439400
Utah                            76545.0  2.137305e+05              0.358138
Washington, D.C.               175246.0  7.057490e+05              0.248312
Delaware                       120278.0  4.868820e+05              0.247037
Vermont                         19783.0  8.319853e+04              0.237781
Maine                           36740.0  1.744745e+05              0.210575
Alaska                           7965.0  4.876967e+04              0.163319
Wyoming                          6785.0  4.822992e+04              0.140680
Hawaii                          14242.0  4.719573e+05              0.030176
United States Virgin Islands     1562.0  1.049010e+05              0.014890
Puerto Rico                     45430.0  3.411307e+06              0.013317
Guam                             1890.0  1.677720e+05              0.011265
Northern Mariana Islands          370.0  5.514400e+04              0.006710
American Samoa                      0.0  5.568900e+04              0.000000

                              rank
state
New York                       1.0
Texas                          2.0
Michigan                       3.0
Louisiana                      4.0
Georgia                        5.0
Illinois                       6.0
Mississippi                    7.0
New Jersey                     8.0
Pennsylvania                   9.0
Virginia                      10.0
Ohio                          11.0
Minnesota                     12.0
Iowa                          13.0
Florida                       14.0
Kentucky                      15.0
Colorado                      16.0
Alabama                       17.0
Missouri                      18.0
North Carolina                19.0
Massachusetts                 20.0
Tennessee                     21.0
Nebraska                      22.0
South Carolina                23.0
Maryland                      24.0
Kansas                        25.0
California                    26.0
Indiana                       27.0
Oklahoma                      28.0
Wisconsin                     29.0
Connecticut                   30.0
Arkansas                      31.0
New Mexico                    32.0
South Dakota                  33.0
Washington                    34.0
North Dakota                  35.0
Arizona                       36.0
Idaho                         37.0
Nevada                        38.0
West Virginia                 39.0
Montana                       40.0
Rhode Island                  41.0
New Hampshire                 42.0
Oregon                        43.0
Utah                          44.0
Washington, D.C.              45.0
Delaware                      46.0
Vermont                       47.0
Maine                         48.0
Alaska                        49.0
Wyoming                       50.0
Hawaii                        51.0
United States Virgin Islands  52.0
Puerto Rico                   53.0
Guam                          54.0
Northern Mariana Islands      55.0
American Samoa                56.0

Determines the average population, adds up all of the deaths, and then groups the data by state to determine the per-capita mortality for each state. The ratio of all deaths to the average population for each state is then used to calculate the per-capita mortality. Per capita mortality is then used to rank the states, with the greatest mortality ranking first.

# 3.3

Assumption 1: The likelihood of detecting cases and deaths is consistent over the course of the outbreak.

Assumption 2: All detected cases have resolved (that is, reported cases have either recovered or died).

In [ ]:
# Extract month from the date
df_3 = df[(df["date"] >= "2020-01-01") & (df["date"] <= "2021-02-28")]
df_3 = df_3[(df_3["country"] == "United States") & (df_3["state"].notnull())]
df_3["month"] = df_3["date"].dt.to_period("M")

# Calculate the total deaths and cases per state and month
mcfr = df_3.groupby(["state", "month"]).agg({
    "cases": "sum",
    "deaths": "sum"
}).compute()

# Calculate the CFR
mcfr["CFR"] = (mcfr["deaths"] / mcfr["cases"]) * 100

all_months = pd.period_range("2020-01", "2021-02", freq="M")

# Reindex
cfr_matrix = mcfr["CFR"].unstack().reindex(columns=all_months, fill_value=0)

# Display the CFR matrix (50 states x 14 months)
print(cfr_matrix)

                              2020-01    2020-02   2020-03    2020-04  \
state
Alaska                            NaN        NaN  1.340996   2.439908
Alabama                           NaN        NaN  0.670344   3.222166
Arkansas                          NaN        NaN  0.931025   1.920520
American Samoa                    NaN        NaN       NaN        NaN
Arizona                           0.0   0.000000  1.444484   3.728072
California                        0.0   5.683564  2.173349   3.565176
Colorado                          NaN        NaN  1.796194   4.443955
Connecticut                       NaN        NaN  1.933488   6.451799
Washington, D.C.                  NaN        NaN  1.482291   3.781444
Delaware                          NaN        NaN  2.335570   3.279130
Florida                           NaN        NaN  1.403046   2.911739
Georgia                           NaN        NaN  3.049293   3.966205
Guam                              NaN        NaN  2.131783   3.631579
Hawaii                            NaN        NaN  0.151172   1.804847
Iowa                              NaN        NaN  0.937951   2.336217
Idaho                             NaN        NaN  1.386930   2.375170
Illinois                          0.0   0.000000  1.310235   4.066047
Indiana                           NaN        NaN  2.735938   5.247031
Kansas                            NaN        NaN  2.421053   3.996036
Kentucky                          NaN        NaN  2.676801   5.209202
Louisiana                         NaN        NaN  3.949197   5.187228
Massachusetts                     0.0   0.000000  0.999203   4.395215
Maryland                          NaN        NaN  1.413992   4.304566
Maine                             NaN        NaN  0.621563   3.782596
Michigan                          NaN        NaN  1.670375   7.585991
Minnesota                         NaN        NaN  0.735000   4.819681
Missouri                          NaN        NaN  1.580135   3.754761
Northern Mariana Islands          NaN        NaN  0.000000  15.254237
Mississippi                       NaN        NaN  1.494342   3.622369
Montana                           NaN        NaN  1.053093   2.431598
North Carolina                    NaN        NaN  0.358754   2.804071
North Dakota                      NaN        NaN  1.043705   1.986777
Nebraska                          NaN   0.000000  0.766551   1.976550
New Hampshire                     NaN        NaN  0.768861   2.711379
New Jersey                        NaN        NaN  1.646140   5.356230
New Mexico                        NaN        NaN  0.749866   2.939796
Nevada                            NaN        NaN  2.824954   4.399773
New York                          NaN        NaN  1.736807   5.716482
Ohio                              NaN        NaN  1.800686   4.360089
Oklahoma                          NaN        NaN  3.288296   5.440554
Oregon                            NaN   0.000000  2.775956   3.607634
Pennsylvania                      NaN        NaN  1.111250   3.516311
Puerto Rico                       NaN        NaN  3.564155   5.470171
Rhode Island                      NaN        NaN  0.321970   2.064773
South Carolina                    NaN        NaN  1.978344   2.879932
South Dakota                      NaN        NaN  4.555011   0.625129
Tennessee                         NaN        NaN  0.483991   1.968722
Texas                             NaN   0.000000  1.338240   2.453227
Utah                              NaN   0.000000  0.344141   0.849688
Virginia                          NaN        NaN  2.319116   3.149803
United States Virgin Islands      NaN        NaN  0.000000   3.866667
Vermont                           NaN        NaN  4.012036   4.370511
Washington                        0.0  13.084112  4.570152   5.012880
Wisconsin                         NaN   0.000000  1.241518   4.136200
West Virginia                     NaN        NaN  0.311915   2.365495
Wyoming                           NaN        NaN  0.000000   0.832318

                                2020-05   2020-06   2020-07   2020-08  \
state
Alaska                         2.489694  1.653788  0.926213  0.637709
Alabama                        3.891484  2.966740  1.994896  1.763196
Arkansas                       2.113971  1.466688  1.114127  1.167084
American Samoa                      NaN       NaN       NaN       NaN
Arizona                        4.763857  2.896135  1.942851  2.318025
California                     4.013291  3.196154  2.072309  1.836988
Colorado                       5.053553  5.031730  4.397490  3.585565
Connecticut                    9.012817  9.326114  9.314942  8.897749
Washington, D.C.               5.255162  5.290654  5.123919  4.527440
Delaware                       4.300814  4.474610  3.941114  3.597337
Florida                        4.355050  3.451982  1.540909  1.646671
Georgia                        4.429941  4.199546  2.467572  2.051574
Guam                           3.165850  2.457808  1.576325  0.919508
Hawaii                         2.685199  2.302484  1.641903  0.799059
Iowa                           2.439318  2.683083  2.104791  1.864442
Idaho                          3.024576  2.279104  0.922600  0.999281
Illinois                       4.430684  4.801614  4.558494  3.751755
Indiana                        6.107318  5.314359  5.314359  5.314359
Kansas                         2.317514  2.114657  1.450417  1.172521
Kentucky                       4.622429  3.990639  3.016682  2.173405
Louisiana                      6.913564  6.131184  3.932215  3.143018
Massachusetts                  6.526266  7.265110  7.507871  7.284110
Maryland                       4.993606  4.719648  4.361170  3.644707
Maine                          4.181612  3.582203  3.164334  3.037424
Michigan                       9.336315  9.065345  8.094677  6.591677
Minnesota                      4.266061  4.192363  3.454097  2.665107
Missouri                       5.840441  5.567382  3.352857  1.771165
Northern Mariana Islands      10.526316  6.968641  5.672461  3.934010
Mississippi                    4.592998  4.455776  3.214121  2.904155
Montana                        3.443073  2.935975  1.570684  1.449218
North Carolina                 3.474942  2.477884  1.706834  1.616542
North Dakota                   2.011621  2.276704  1.861065  1.408089
Nebraska                       1.248276  1.342566  1.346904  1.201623
New Hampshire                  4.651725  5.977438  6.411706  6.090819
New Jersey                     7.483364  8.189283  8.389390  8.004078
New Mexico                     4.331597  4.446030  3.598706  3.155332
Nevada                         5.164451  3.885566  1.957495  1.778496
New York                       7.058102  7.378815  7.088912  6.817321
Ohio                           5.865761  6.026122  4.408165  3.552504
Oklahoma                       5.530634  3.908145  1.908486  1.391411
Oregon                         3.838614  2.984381  1.895326  1.704858
Pennsylvania                   6.820038  7.642140  6.875404  5.902273
Puerto Rico                    2.404588  1.281751  0.797061  0.654973
Rhode Island                   3.933127  4.960250  2.912268  2.620692
South Carolina                 4.343717  2.894691  1.759180  2.131892
South Dakota                   1.089044  1.289886  1.445053  1.440220
Tennessee                      1.655436  1.518993  1.111554  1.071420
Texas                          2.735151  2.028833  1.311913  1.793534
Utah                           1.043903  0.712138  0.516989  0.548039
Virginia                       3.315815  2.861739  2.644603  2.254179
United States Virgin Islands   7.797732  8.071749  2.661851  1.327903
Vermont                        5.705068  4.968406  4.248350  3.834720
Washington                     5.159585  4.398433  3.102134  2.616426
Wisconsin                      3.386921  2.844883  2.018998  1.542753
West Virginia                  4.116128  3.643976  2.150212  1.893011
Wyoming                        1.312168  1.533579  0.578722  0.500970

                               2020-09   2020-10  2020-11  2020-12  2021-01  \
state
Alaska                        0.686523  0.698936        0        0        0
Alabama                       1.731573  1.617441        0        0        0
Arkansas                      1.511983  1.653582        0        0        0
American Samoa                     NaN       NaN        0        0        0
Arizona                       2.553104  2.586501        0        0        0
California                    1.898836  1.937447        0        0        0
Colorado                      3.168521  2.844382        0        0        0
Connecticut                   8.464212  8.072824        0        0        0
Washington, D.C.              4.195246  4.071392        0        0        0
Delaware                      3.403788  3.409858        0        0        0
Florida                       1.920335  2.039327        0        0        0
Georgia                       2.194885  2.248769        0        0        0
Guam                          1.414025  1.928566        0        0        0
Hawaii                        0.968586  0.974277        0        0        0
Iowa                          1.616292  1.500646        0        0        0
Idaho                         1.159035  1.105485        0        0        0
Illinois                      3.145472  2.921012        0        0        0
Indiana                       5.314359  5.314359        0        0        0
Kansas                        1.097486  1.132717        0        0        0
Kentucky                      1.837774  1.706935        0        0        0
Louisiana                     3.186258  3.201874        0        0        0
Massachusetts                 7.491966  7.379614        0        0        0
Maryland                      3.282946  3.117740        0        0        0
Maine                         2.768887  2.575669        0        0        0
Michigan                      5.628402  5.138678        0        0        0
Minnesota                     2.250663  2.044012        0        0        0
Missouri                      1.477161  1.477571        0        0        0
Northern Mariana Islands      3.164557  2.724796        0        0        0
Mississippi                   3.021857  3.015374        0        0        0
Montana                       1.458478  1.296510        0        0        0
North Carolina                1.658951  1.669254        0        0        0
North Dakota                  1.106921  1.160046        0        0        0
Nebraska                      1.108602  1.053487        0        0        0
New Hampshire                 5.613963  5.169666        0        0        0
New Jersey                    7.343364  6.922359        0        0        0
New Mexico                    3.139702  3.011314        0        0        0
Nevada                        1.984882  1.980475        0        0        0
New York                      7.133235  7.149678        0        0        0
Ohio                          3.219612  3.105734        0        0        0
Oklahoma                      1.266365  1.157214        0        0        0
Oregon                        1.718041  1.649574        0        0        0
Pennsylvania                  5.239855  4.898251        0        0        0
Puerto Rico                   0.720457  0.691927        0        0        0
Rhode Island                  2.430878  2.339494        0        0        0
South Carolina                2.312082  2.281490        0        0        0
South Dakota                  1.085406  1.017048        0        0        0
Tennessee                     1.217759  1.297119        0        0        0
Texas                         2.029069  2.027472        0        0        0
Utah                          0.520055  0.577474        0        0        0
Virginia                      2.124989  2.160076        0        0        0
United States Virgin Islands  1.476543  1.508751        0        0        0
Vermont                       3.434900  3.264663        0        0        0
Washington                    2.502029  2.400467        0        0        0
Wisconsin                     1.273027  1.049491        0        0        0
West Virginia                 2.185585  1.999395        0        0        0
Wyoming                       0.963207  0.689673        0        0        0

                              2021-02
state
Alaska                              0
Alabama                             0
Arkansas                            0
American Samoa                      0
Arizona                             0
California                          0
Colorado                            0
Connecticut                         0
Washington, D.C.                    0
Delaware                            0
Florida                             0
Georgia                             0
Guam                                0
Hawaii                              0
Iowa                                0
Idaho                               0
Illinois                            0
Indiana                             0
Kansas                              0
Kentucky                            0
Louisiana                           0
Massachusetts                       0
Maryland                            0
Maine                               0
Michigan                            0
Minnesota                           0
Missouri                            0
Northern Mariana Islands            0
Mississippi                         0
Montana                             0
North Carolina                      0
North Dakota                        0
Nebraska                            0
New Hampshire                       0
New Jersey                          0
New Mexico                          0
Nevada                              0
New York                            0
Ohio                                0
Oklahoma                            0
Oregon                              0
Pennsylvania                        0
Puerto Rico                         0
Rhode Island                        0
South Carolina                      0
South Dakota                        0
Tennessee                           0
Texas                               0
Utah                                0
Virginia                            0
United States Virgin Islands        0
Vermont                             0
Washington                          0
Wisconsin                           0
West Virginia                       0
Wyoming                             0

Same process as 3.2 but this time we are calculating Case fatality ratio (CFR) which is an proportion of individuals diagnosed with a disease who die from that disease and is therefore a measure of severity among detected cases.

![WHO](https://www.who.int/images/default-source/health-topics/coronavirus/cfr.png?sfvrsn=c5031cde_1)

Finally we are pivoting data to get the needed matrix to further explore the dataset.

# 3.4

In [ ]:
# Calculate month-to-month changes in CFR for each state
cfr_changes = cfr_matrix.diff(axis=1)  # Calculate the difference across months

# Sum the changes to see how much the CFR increased or decreased over time for each state
total_changes = cfr_changes.abs().sum(axis=1)

ranked_states = total_changes.rank(ascending=False)

# Display the ranking of states based on CFR changes
print(ranked_states.sort_values())

state
Northern Mariana Islands         1.0
Washington                       2.0
Michigan                         3.0
Connecticut                      4.0
United States Virgin Islands     5.0
Massachusetts                    6.0
California                       7.0
New Jersey                       8.0
Pennsylvania                     9.0
New York                        10.0
New Hampshire                   11.0
Arizona                         12.0
Ohio                            13.0
Missouri                        14.0
Louisiana                       15.0
Illinois                        16.0
Rhode Island                    17.0
Indiana                         18.0
Washington, D.C.                19.0
Minnesota                       20.0
Maryland                        21.0
West Virginia                   22.0
Colorado                        23.0
Florida                         24.0
Wisconsin                       25.0
New Mexico                      26.0
Mississippi                     27.0
Nevada                          28.0
South Carolina                  29.0
Oklahoma                        30.0
Maine                           31.0
Kentucky                        32.0
Oregon                          33.0
Puerto Rico                     34.0
Vermont                         35.0
Guam                            36.0
Alabama                         37.0
Texas                           38.0
North Carolina                  39.0
Delaware                        40.0
Georgia                         41.0
South Dakota                    42.0
Montana                         43.0
Kansas                          44.0
Hawaii                          45.0
Idaho                           46.0
Iowa                            47.0
Virginia                        48.0
Arkansas                        49.0
Nebraska                        50.0
Wyoming                         51.0
Tennessee                       52.0
Alaska                          53.0
North Dakota                    54.0
Utah                            55.0
American Samoa                  56.0
dtype: float64

We obtain monthly variations in each state's Case Fatality Rate (CFR), add up these variations by adding up their absolute values, and then rank the states according to the overall size of the variations. The findings are shown to indicate which states saw the biggest changes in CFR over time.

In [ ]:
total_changes = cfr_changes.sum(axis=1)
print(total_changes.sort_values(ascending=False))

state
United States Virgin Islands    2.220446e-16
Wyoming                         0.000000e+00
Washington                      0.000000e+00
Oregon                          0.000000e+00
Illinois                        0.000000e+00
Texas                           0.000000e+00
Massachusetts                   0.000000e+00
Utah                            0.000000e+00
Wisconsin                       0.000000e+00
California                      0.000000e+00
Arizona                         0.000000e+00
American Samoa                  0.000000e+00
Northern Mariana Islands        0.000000e+00
Nebraska                        0.000000e+00
Hawaii                         -1.511716e-01
West Virginia                  -3.119152e-01
Rhode Island                   -3.219697e-01
North Carolina                 -3.587541e-01
Tennessee                      -4.839911e-01
Maine                          -6.215635e-01
Alabama                        -6.703437e-01
Minnesota                      -7.350004e-01
New Mexico                     -7.498661e-01
New Hampshire                  -7.688611e-01
Arkansas                       -9.310254e-01
Iowa                           -9.379509e-01
North Dakota                   -1.043705e+00
Montana                        -1.053093e+00
Pennsylvania                   -1.111250e+00
Alaska                         -1.340996e+00
Idaho                          -1.386930e+00
Florida                        -1.403046e+00
Maryland                       -1.413992e+00
Washington, D.C.               -1.482291e+00
Mississippi                    -1.494342e+00
Missouri                       -1.580135e+00
New Jersey                     -1.646140e+00
Michigan                       -1.670375e+00
New York                       -1.736807e+00
Colorado                       -1.796194e+00
Ohio                           -1.800686e+00
Connecticut                    -1.933488e+00
South Carolina                 -1.978344e+00
Guam                           -2.131783e+00
Virginia                       -2.319116e+00
Delaware                       -2.335570e+00
Kansas                         -2.421053e+00
Kentucky                       -2.676801e+00
Indiana                        -2.735938e+00
Nevada                         -2.824954e+00
Georgia                        -3.049293e+00
Oklahoma                       -3.288296e+00
Puerto Rico                    -3.564155e+00
Louisiana                      -3.949197e+00
Vermont                        -4.012036e+00
South Dakota                   -4.555011e+00
dtype: float64

# 4.

After all the tasks performed I think parallelization or distributed computing makes sense because dataset has 1089472 rows which is large so. Most of the time we did aggregations (like summing deaths and computing average population) which are ideal candidates for parallel processing and dask could speed up the computation.

In conclusion Large-scale datasets benefit from parallelization or distributed computing features because they span numerous years and states and months of operational duration. This will help to increase the computation speed through the utilization of multiple cores or machines.